/* Resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app-body {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.app-container {
	width: 60%;
	height: 60%;
	border: 2px solid black;
}

.infinite-button {
	margin: 1rem;
	padding: 0.5rem;
	min-width: 160px;
	width: 12%;
}

.placeholder {
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/* Media queries */
@media screen and (max-width: 450px) {
	.app-container {
		width: 90%;
		height: 60%;
	}
}

@media screen and (min-width: 451px) and (max-width: 800px) {
	.app-container {
		width: 80%;
		height: 60%;
	}
}
